<template>
    <div class='navbar'>
        <div class='container'>
            <div class='row'>
                <div class='d_float_left'>
                    <Logo></Logo>
                </div>

                <div class='d_float_right'>
                    <Hamburger :class="`${storeGetters.device} ${storeGetters.sidebar}`" @click="toggleNavbar()"></Hamburger>
                    <Menu :class="`${storeGetters.device} ${storeGetters.menu}`">
                        <NavbarItem v-for="route in routes" :key="route.path" :basePath="route.path" :item="route"></NavbarItem>
                    </Menu>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// vue
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

// components
import Menu from '@/components/Menu/Menu.vue';
import Hamburger from '@/components/Hamburger/index.vue';
import Logo from './Logo.vue';
import NavbarItem from './NavbarItem.vue';

export default {
    name: 'Navbar',
    components: {
        Menu,
        Logo,
        Hamburger,
        NavbarItem
    },
    setup() {
        // vue
        const store = useStore();
        const router = useRouter();
        
        // data
        const routes = ref(router.options.routes);

        const toggleNavbar = () => {
            store.dispatch('app/toggleSideBar');
        };

        // computed
        const storeGetters = computed(() => {
            return {
                sidebar: store.getters.sidebar.opened ? 'close' : 'opened',
                menu: store.getters.sidebar.opened ? 'opened' : 'close',
                device: store.getters.device
            };
        });

        return {
            routes,
            // methods
            toggleNavbar,
            // computed
            storeGetters
        };
    }
};
</script>

<style lang='sass' scoped>
@import '@/styles/colors.sass'

.navbar
    position: fixed
    width: 100%
    top: 0px
    left: 0px
    z-index: 10
    background-color: $color_white

    .container
        width: 90%
        max-width: 90%
        margin:
            left: auto
            right: auto

        .row
            display: flex
            justify-content: space-between
            align-items: center

@media screen and (max-width: 992px)
    .navbar
        padding: 5px
</style>