<script>
import { onMounted } from 'vue';
import { useStore } from 'vuex';

export default {
    name: 'home',
    setup() {
        const store = useStore();

        onMounted(() => {
            store.dispatch('loading/changeLoading', true);
            let count = 0;
            let interval = setInterval(() => {
                count++;
                if (count === 3) {
                    store.dispatch('loading/changeLoading', false);
                    clearInterval(interval);
                }
            }, 1000);
        });
    }
};
</script>

<template>
    <div class='home'>
        This is home view
    </div>
</template>