<script>
// minixs
import ResetHander from './minixs/ResetHander';

// components
import { Navbar, AppMain } from './components/index.js';

export default {
    name: 'Layout',
    components: {
        Navbar,
        AppMain
    },
    setup() {
        const { $_isMobile, $_resizeHander } = ResetHander();

        return {
            // methods
            $_isMobile,
            $_resizeHander
        };
    }
};
</script>

<template>
    <div class='appWapper'>
        <Navbar></Navbar>
        <AppMain></AppMain>
    </div>
</template>
